<div class="container">

  <div class="row">

    <div class="col-sm-offset-3 col-sm-6">

      <div class="edit-title">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :name,
                      hint: "leave it blank if you don't want to change it",
                      required: false%>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
          <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
          <%= f.input :photo_cache, as: :hidden%>

          <%= f.input :artist,
                      hint: " leave it blank if you don't want to change it",
                      required: false%>

          <% @categories = ['
designer', 'draftsman', 'graffiti artist', 'graphic artist', 'illustrator', 'painter', 'sculptor'] %>
          <%= f.input :category, collection: @categories, hint: "we need your current password to confirm your changes" %>

          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      <% end %>

      <h4>Cancel my account</h4>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>

    </div>

  </div>

</div>
