<div class="container">

  <div class="row">

    <div class="col-sm-offset-3 col-sm-6">

    <div class="edit-title">
      <h1>Modify my offer </h1>
    </div>

      <%= simple_form_for(@artwork) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :category %>
          <%= f.text_field :category, class: 'form-control' %>
        </div>

         <div class="form-group">
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.submit class: 'btn btn-primary' %>
              <%= link_to artwork_path(@artwork), class: 'btn btn-danger',
                method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
               <% end %>
        </div>

      <% end %>

      <%= link_to artwork_path(@artwork) do %>
        <i class="fas fa-undo-alt"></i>
      <% end %>
    </div>

  </div>

</div>
