<h1> Artworks </h1>


<% @artworks.each do |artwork|  %>
  <%= artwork.name  %>
  <%= artwork.photo %>
  <%= artwork.category %>
  <%= artwork.availibility %>
<% end %>


<% if policy(Artwork).show? %>
  <%= link_to "artwork", artwork_path(@artwork) %>
<% end %>

