
<div class="container ">

  <div class="wrapper ">

    <div class="flex-booking">

      <div class="artwork-content">
        <h1> <%= @artwork.name %> </h1>
        <div class="image">
          <%= cl_image_tag @artwork.photo, height: 480, width: 600, crop: :fill %>
          <div class="edit">
            <% if policy(@artwork).edit? %>
              <%= link_to  edit_artwork_path(@artwork) do %>
              <i class="fas fa-edit"></i>
              <%end %>
            <%end %>
          </div>

          <div class="info-left">
            <p> <%= @artwork.category %> </p>
            <h3>Available from :<%= @artwork.start_date %> to : <%= @artwork.end_date %></h3>
            <p> Price : <%= @artwork.price %> €</p>
          </div>

          <div class ="info">
            <p>Made by:</p>
            <h3><%= link_to @artwork.user.name, user_path(@artwork.user) %></h3>
            <p><%= @artwork.user.category %></p>
          </div>
        </div>
      </div>

      <div class="row-show">

        <!-- <div class="col-sm-offset-3 col-sm-6"> -->
          <div class="artwork-booking">
            <h2> Book this artwork: </h2>

            <%= simple_form_for [@artwork, @booking] do |f| %>
              <div class="form-group calendar" style="width: 400px; margin: 0 auto;">
              <%= f.input :date_start, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :date_finish, as: :string, required: false, input_html: {class: "datepicker"} %>
              </div>
             <%= f.submit "send", class: "btn btn-primary" %>
            <% end %>
          </div>
        <!-- </div> -->
      </div>
      <div>
        <h2>
        <%= pluralize @artwork.reviews.size, "review" %>
        </h2>
      </div>



    </div>
  </div>
</div>

