<div class="wrapper">

  <center>
    <h1> <%= @artwork.name %> </h1>
    <div class="image">
      <%= cl_image_tag @artwork.photo, height: 500, width: 600, crop: :fill %>
      <div class="edit">
        <% if policy(@artwork).edit? %>
          <%= link_to  edit_artwork_path(@artwork) do %>
          <i class="fas fa-edit"></i>
          <%end %>
        <%end %>
      </div>
    </div>
  </center>

  <center>
    <%= @artwork.category %>
    <br />
    <%= @artwork.availability %>
    <p>Available from :<%= @artwork.start_date %></p>
    <p>to : <%= @artwork.end_date %></p>
  </center>



  <div class ="info">
    <h3>Made by:</h3>
    <p><%= @artwork.user.name %></p>
    <p><%= @artwork.user.category %></p>
  </div>

</div>
