<h1> <%= @artwork.name %> </h1>

  <%= @artwork.photo %>
  <%= @artwork.category %>
  <%= @artwork.availibility %>
  <% if policy(artwork).edit? %>
    <%= link_to "Update", edit_artwork_path(@artwork) %>
  <% end %>




