<h1> <%= @artwork.name %> </h1>


  <%= @artwork.photo %>
  <%= @artwork.category %>
  <%= @artwork.availibility %>

<% @artworks.each do |artwork| %>
  <% if policy(artwork).edit? %>
    <%= link_to "Update", edit_artwork_path(artwork) %>
  <% end %>
<% end %>

