<h1> <%= @artwork.name %> </h1>

  <%= cl_image_tag @artwork.photo, height: 300, width: 400, crop: :fill %>
  <%= @artwork.category %>
  <%= @artwork.availability %>
  <% if policy(@artwork).edit? %>
    <%= link_to "Update", edit_artwork_path(@artwork) %>
  <% end %>




