
<div class="container">
  <div class="wrapper">
    <div class="artwork-content">
      <h1> <%= @artwork.name %> </h1>
      <div class="image">
        <%= cl_image_tag @artwork.photo, height: 480, width: 600, crop: :fill %>
        <div class="edit">
          <% if policy(@artwork).edit? %>
            <%= link_to  edit_artwork_path(@artwork) do %>
            <i class="fas fa-edit"></i>
        </div>
          <div class="info-left">
            <p> <%= @artwork.category %> </p>
            <h3>Available from :<%= @artwork.start_date %> to : <%= @artwork.end_date %></h3>
          </div>
          <div class ="info">
            <p>Made by:</p>
            <h3><%= link_to @artwork.user.name, user_path(@artwork.user) %></h3>
            <p><%= @artwork.user.category %></p>
            <%end %>
          <%end %>
        </div>
      </div>
    </div>
  <div class="row-show">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="artwork-booking">
        <h2>Book this artwork:</h2>
        <%= simple_form_for [@artwork, @booking] do |f| %>
          <%= f.input :date_start %>
          <%= f.input :date_finish %>
          <%= f.submit "send", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>


  </div>
</div>

