 <%@user.bookings.each do |booking|%>
  <% if booking.status == "pending" %>
    <h3>An host is interested about your artwork :</h3>
    <%= booking.artwork.name %>
    <%= cl_image_tag booking.artwork.photo %>
    <p>start :<%= booking.date_start%></p>
    <p>end :<%= booking.date_finish %></p>

    <%= link_to 'accept', accept_booking_path(booking) %>
    <%= link_to 'decline', decline_booking_path(booking) %>

  <% elsif booking.status == "accepted" %>
    <h3>Artwork booked:</h3>
    <p><%= booking.artwork.name %></p>
    <%= cl_image_tag booking.artwork.photo %>
    <p>start :<%= booking.date_start%></p>
    <p>end :<%= booking.date_finish %></p>
  <%end %>
<%end %>



